* {
  font-family: "Calibiri";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000; 
  font-family: Arial, sans-serif; 
}
.stopwatch {
  text-align: center;
  font-size: 36px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 85px; 
  overflow-y: auto;
  border: 2px solid #000;
  border-radius: 5px; 
  background-color: #e8f2b9; 
}

.title {
  font-size: 45px;
  font-weight: bolder;
}

#display {
  font-size: 40px;
  height: 50px; 
  line-height: 50px;
}

.buttons {
  flex-direction: column;
}

#startStop,
#lapReset {
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#reset {
  font-size: 18px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#reset:hover {
  background-color: #d32f2f;
}

#startStop:hover,
#lapReset:hover {
  background-color: #45a049;
}

#laps {
  list-style: none;
  padding: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
  margin-top: 20px;
  height: 200px;
}

#laps::-webkit-scrollbar {
  width: 0.1em; 
}

#laps::-webkit-scrollbar-thumb {
  background-color: #120e0e; 
}

li {
  font-size: 18px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #a29191;
}
